.zoom-buttons {
    display: flex;
    align-items: center;

    .today {
        background-color: white;
        height: 24px;
        min-width: 60px;
        border-radius: 3px;
        padding: 0 4px 0 4px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        font-style: normal;
        color: black;
        border: 1px solid grey;
    }

    .reduce {
        background-color: white;
        width: 24px;
        padding: 0 4px 0 4px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        font-style: normal;
        border-right: 1px solid grey;
        border-radius: 0;
        color: grey;
    }

    .increase {
        background-color: white;
        width: 24px;
        padding: 0 4px 0 4px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        font-style: normal;
        border-left: 1px solid grey;
        border-radius: 0;
        color: grey;
    }

    .zoom-group {
        margin-left: 16px;
        border: 1px solid grey;
        width: auto;
        border-radius: 3px;
        height: 24px;
    }

    .center {
        margin-left: 6px;
        border: 1px solid grey;
        width: 32px;
        border-radius: 3px;
        background-color: white;
        height: 24px;
        color: grey;
    }
}

.d-inline-flex {
  display: inline-flex;
}
