.wrapper-block {
    display: block;
    position: relative;
}

.triangle-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #738c99;
    left: -3px;
    top: -6px;
}

.date-marker {
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    background-color: #24affe;
    z-index: 2;
}
.empty {
    position: absolute;
    padding: 50px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #738c99;
}

.icon {
    height: 56px;
    top: 45%;
    left: -45px;
    background: no-repeat center #FFFFFF;
    width: 66px;
    display: inline-block;
    z-index: 8;
}

.text-no-matches {
    position: absolute;
    z-index: 9;
    width: 120px;
    min-width: 130px;
    left: -50px;
    top: 57%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
