:host {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  font-size: 13px;
  position: relative;
}

.panel-wrapper {
  height: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  z-index: 10;
}

.panel-label {
  display: flex;
  align-items: center;
  background-color: #F6F6F8;
  color: #738c99;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 24px;
    right: 0;
    top: 7px;
    background: #D5DBDC;
  }
}

.panel {
  height: fit-content;
  background-color: #F6F6F8;

  .panel-group {
    background-color: #F6F6F8;
    border-bottom: #D5DBDC 1px solid;
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;

    &.can-collapse {
      .icon-arrow-down {
        display: block;
      }
    }

    .icon-arrow-down {
      display: none;
      color: #8FA3AD;
      font-size: 14px;
      transition: all .2s ease;
      position: absolute;
      top: 3px;
      left: -18px;

      &.collapsed {
        top: 2px;
        transform: rotate(-90deg);
      }
    }

    .group-name {
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto;
    }

    &.first-item {
      border-top: #D5DBDC 1px solid;
    }
  }
}

.content-wrapper {
  position: relative;
 height: fit-content;
}

.column-separators {
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #E2E9EE;
  }
}

.timeline-items {
  display: flex;
  flex-direction: column;
  height: auto;

  .item-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 7;
    height: 60px;
    box-sizing: border-box;

    .timeline-item {
      height: 32px;
      font-size: 12px;
      position: absolute;
      cursor: pointer;
      border-radius: 2px;
      background-color: #24affe;
    }
  }
}
