<div>
  <app-timeline-zoom></app-timeline-zoom>

 <div class="timeline-wrapper">
   <timeline-calendar #timelineComponent
                      [rowHeight]='88'
                      [panelLabel]="'Label'"
                      [items]='items'
                      [panelWidth]='200'
                      [locale]="'uk'"
                      [itemContentTemplate]='itemContentTemplate'>
   </timeline-calendar>
 </div>
</div>

<ng-template #itemContentTemplate let-item>
  {{item.name}}
</ng-template>
