<div class='wrapper' [style.height.px]="height">
  <div class='groups'>
    <div *ngFor='let group of headerGroups; trackBy: trackById; index as i'
         [style.width.px]='zoom.columnWidth * group.columnsCount' class='group'>
      <div>{{group.name}}</div>
    </div>
  </div>
  <div class='columns'>
    <div *ngFor='let column of columns; trackBy: trackById'>
      <div class='column' [style.width.px]='zoom.columnWidth'>
        {{getColumnName(column)}}
      </div>
    </div>
  </div>
</div>

