.header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background: #F8F8F8;
    border-bottom: 1px solid #D5DBDC;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 24px;
        left: calc(100% - 1px);
        top: 7px;
        background: #D5DBDC;
    }
}

.panel-date {
    z-index: 9;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    color: #5E7989;

    .item {
        position: relative;

        &:after {
            content: "";
            width: 1px;
            height: 12px;
            left: calc(100% - 1px);
            position: absolute;
            background: #D5DBDC;
        }
    }


    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F6F8;
        color: #5E7989;
        height: 24px;
    }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
